extends layout

block content
  a(href='/', id='hubLink', style='font-size:2em')= title
  a(id='listLink', href='/hub/list') list of works
  br
  div(style='text-align:center;')
    div(id='holder' style='text-align:center;')
    img(id='preview' hidden)
    br
    canvas(id='myCanvas' style='border:1px solid black; position:static; bottom:3%; top:10%')
    br

    form(name='nickname' action="/hub/list" method="post")
      input(type='text', name='url' id='urlHolder', hidden)
      input(type='number', name='width' id='width', hidden)
      input(type='number', name='height' id='height', hidden)
      input(type='text', name='name' id='title', value='enter a title!')
      br
      label(id='toSubmit')
      input(id='submit',type="submit" hidden)
      button(id='button' style='width:500px; font-size:4em')  submit
