extends layout

block content
  div(ng-app='candusen')
    teeest(name='cock')
  h1= title
  a(id='erase') wanna erase this shit, #{title}
  div(id='toolbox' style='text-align:center;')
    div(id='holder')
    br
    canvas(id='myCanvas' style='border:1px solid black; position:static; bottom:3%; top:10%')
