doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/hub/stylesheets/style.css')
    script(data-main='js/main' src='/hub/js/lib/require.js')
    script(type='text/javascript' src='/hub/js/secondary.js')
    script(type='text/javascript' src='/hub/js/lib/angular.js')
    script(type='text/javascript' src='/hub/js/init.js')


  body
    div(id='container')
    block content
