body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  border:solid yellow 5px;
  z-index:-1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:99%;
}

canvas {
  z-index: -1;
  border: solid 2px white;
}

.pattern img{
  height:60px;
  width:60px;
  margin: 0px
}

#holder {

}

.pattern.selected{

  height:120px;
  width:120px;
}
